
.nav {
  width: 100%;
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 10px;
  background-color: #2A77AE
}
  
.title {
  float: left;
  cursor: pointer;
  margin-right: 150px;
}

a {
  color: white;
}
  
.score {
  float: right;
  margin-left: 150px;
}

.correct {
  -webkit-animation: color-change 0.6s infinite ;
 }
 
 @-webkit-keyframes color-change {
  0% { color:#31b1804d; }
  50% { color: #31b180; }
  100% { color: #31b1804d; }
 }
 .incorrect {
  color: rgb(230, 62, 62);
}

  
